/* Style des boîtes de match */
.match-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px; /* Réduit le padding */
    cursor: pointer; /* Ajout du curseur pointer pour indiquer que la boîte est cliquable */
}

.match-box h3 {
    font-size: 1em; /* Réduit la taille de la police */
    color: #333;
    margin-bottom: 5px; /* Réduit la marge inférieure */
}

.match-box p {
    color: #666;
    margin-bottom: 3px; /* Réduit la marge inférieure */
}

.match-box span {
    font-weight: bold;
}

/* Style pour la date */
.match-date {
    background-color: #333;
    color: #fff;
    padding: 3px 6px; /* Réduit le padding */
    border-radius: 4px;
    margin-bottom: 5px; /* Réduit la marge inférieure */
    display: inline-block;
}

/* Style pour les équipes */
/* Style pour les équipes et les boutons */
.match-teams {
    display: flex;
    align-items: center;
}

.match-teams img {
    width: 30px; /* Réduit la taille des logos */
    height: 30px; /* Réduit la taille des logos */
    margin-right: 5px; /* Réduit la marge droite */
}

.match-teams h3 {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Fait en sorte que le texte s'étende pour remplir l'espace disponible */
}

.match-teams h3, .match-box form {
    margin-bottom: 0; /* Supprime la marge inférieure pour aligner les boutons */
}
