/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Style pour le conteneur de classement */
  .classement-container {
    width: 100%;
    padding: 20px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
  }
  
  .classement-content {
    width: 100%;
    max-width: 800px;
  }
  
  /* Titre de la page */
  .classement-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #c8102e; /* Couleur principale du site */
  }
  
  /* Table de classement */
  table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #c8102e; /* Couleur principale du site */
    color: white;
    text-align: center;
  }
  
  td img {
    max-width: 30px;
    max-height: 30px;
  }
  
  /* Classe pour le chiffre de classement avec couleur */
  .rank-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 4px;
  }
  
  .rank-1 .rank-number { background-color: #c89e4f; }
  .rank-2 .rank-number,
  .rank-3 .rank-number,
  .rank-4 .rank-number { background-color: #000; }
  .rank-5 .rank-number { background-color: #ff7f0e; }
  .rank-6 .rank-number { background-color: #2ca02c; }
  .rank-7 .rank-number,
  .rank-8 .rank-number { background-color: #e0e0e0; }
  
  @media (max-width: 600px) {
    /* Cache le logo sur les petits écrans */
    th:nth-child(2), td:nth-child(2) {
      display: none;
    }

    /* Affiche uniquement le nom de l'équipe et les points en mode mobile */
    th:nth-child(3), td:nth-child(3),
    th:nth-child(4), td:nth-child(4) {
      display: table-cell;
    }

    /* Cache les colonnes "Buts Pour", "Buts Contre" et "Différence de Buts" en mode mobile */
    th:nth-child(5), td:nth-child(5),
    th:nth-child(6), td:nth-child(6),
    th:nth-child(7), td:nth-child(7) {
      display: none;
    }
}
