/* Styles généraux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    background-color: white;
    color: black;
}

/* Style de la barre latérale */
.sidebar {
    width: 100%;
    background-color: #111; 
    padding-top: 20px;
}

.tab {
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.tab:hover {
    background-color: #333;
}                          

.active {
    background-color: #4CAF50; 
}

/* Contenu principal */
.content {
    padding: 20px;
}

.form-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
}

.form-container input[type="text"],
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style du jeu et du scoreboard */
.game-container {
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.scoreboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scoreboard h3 {
    text-align: center;
    margin-bottom: 10px;
}

.scoreboard table {
    width: 100%;
    border-collapse: collapse;
}

.scoreboard th,
.scoreboard td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.scoreboard th {
    background-color: #f4f4f4;
}

/* Media queries pour tablettes */
@media (min-width: 600px) {
    .sidebar {
        height: 100vh;
        width: 25%;
        float: left;
    }

    .content {
        margin-left: 27%;
    }
}

/* Media queries pour ordinateurs */
@media (min-width: 992px) {
    .sidebar {
        width: 15%;
    }

    .content {
        margin-left: 17%;
    }
}
